version: '3.8'

services:
  api:
    build: .
    container_name: api-json
    ports:
      - "3008:3008"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    environment:
      - NODE_ENV=production

